In [1]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer 
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [2]:
df1 = pd.read_parquet("yellow_tripdata_2022-01.parquet")

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [4]:
#Q1. Number of columns 
len(df1.columns)

19

In [5]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [6]:
df1["duration"] = df1["tpep_dropoff_datetime"] - df1["tpep_pickup_datetime"]

In [7]:
df1.duration = df1.duration.map(lambda x: round((x.total_seconds())/60, 2))

In [8]:
#Q2. Standard deviation of the trips duration in January 
df1.describe().duration.loc["std"]

46.445303029643036

In [9]:
new_df1 = df1.copy()

In [10]:
new_df1 = new_df1[(new_df1["duration"] >= 1) & (new_df1["duration"] <= 60)]

In [11]:
#Q3. Fraction of the records left after dropping of the outliers 
(new_df1.shape[0]/df1.shape[0])*100

98.27547930522405

In [12]:
sample = new_df1[["PULocationID", "DOLocationID"]]

In [13]:
sample = sample.astype(str)

In [14]:
sample_dict = sample.to_dict("records")

In [15]:
V = DictVectorizer()

In [16]:
result = V.fit_transform(sample_dict)

In [18]:
#Q4. Dimensionality of the obtained matrix 
result.shape[1]

515

In [19]:
model = LinearRegression()

In [20]:
target = "duration"
y = new_df1[target].values

In [21]:
y

array([17.82,  8.4 ,  8.97, ..., 11.  , 12.05, 27.  ])

In [22]:
model.fit(result, y)

LinearRegression()

In [23]:
y_pred = model.predict(result)

In [24]:
#Q5. RMSE on train
mean_squared_error(y, y_pred, squared = False)

6.986191820263139

In [25]:
def wrangle(path): 
    df = pd.read_parquet(path)
    df["duration"] = df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]
    df.duration = df.duration.map(lambda x: round(x.total_seconds()/60, 2))
    df = df[(df["duration"] >=1) & (df["duration"] <=60)]
    return df

In [26]:
df2 = wrangle("yellow_tripdata_2022-02.parquet")

In [27]:
sample2 = df2[["PULocationID", "DOLocationID"]]

In [28]:
sample2 = sample2.astype(str)

In [29]:
sample_dict2 = sample2.to_dict("records")

In [30]:
encoded_X = V.transform(sample_dict2)

In [32]:
y_val = df2[target].values

In [33]:
y_val_pred = model.predict(encoded_X)

In [36]:
RMSE_val = mean_squared_error(y_val, y_val_pred, squared = False)

In [37]:
#Q6. RMSE on Validation 
RMSE_val

7.786408265501658